.contentBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxContainer {
    max-width: 960px;
}


.textBox {
    width: 25px;
    height: 25px;
    border-style: solid;
    border-width: 1px;
    color: rgb(82, 82, 82);
    text-align: center;
    background-color: white;
}

.rowOfBoxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.painted {
    background-color: black;
}

.titles {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 50px;
}